body {
    background-color: rgb(22,63,105);
    margin: 0;
}

main{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.navigationbar {
    background-color: white;
    padding: 10px;
    text-align: right;
    overflow: hidden;
}

.navigationbar a{
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: rgb(98,98,98);
}

.navigationbar a:hover {
    color: rgb(166, 166, 166);
}

.navigationbar a.active{
    color: rgb(62,170,242);
}

.gallery{
    display: inline-block;
    margin: 5px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 1px solid grey;
}



.footer{
    color: white;
    text-align: center;
}

.footer a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.footer a:hover{
    color: red;
    font-size: 1.1em;
}

.pagination{
    text-align: center;
}

.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: rgb(62,170,242);
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: rgb(166, 166, 166);
    border-radius: 5px;
}






